// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.header-ios {
    // margin-top: 5%;
}

ion-header {
    width: 100%;
    height: 50px;
    background: #565d97;
    display: inline-block;
    vertical-align: top;
}

.full_height {
    height: 100%;
}

.header_row {
    height: 100%;
}

.header-ios .header_row {
    padding-top: 5vh;
}

.header-ios {
    height: 12vh;
    background: #9fa2bd;
}

.header_row span {
    margin: auto;
    cursor: pointer;
    text-align: center;
}

.social_select {
    margin: auto;
}

.trend_span {
    color: white;
}

ion-row {
    width: 100%;
}

.scroll-content {
    background-color: #71749c;
}

.content-ios {
    // margin-top: 5%;
}

.modal-wrapper {
    transform: translateY(0%);
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.date_select {
    margin: auto !important;
    background-color: white !important;
    padding-bottom: 0px !important;
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 0px !important;
    position: relative !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 2px !important;
    height: 4vh !important;
    padding-top: 1vh !important;
    font-size: 3.2vw;
}